DEBUG=False
DJANGO_SECRET_KEY=your-secret-key-here
GOOGLE_API_KEY=your-google-api-key-here
DB_NAME=ragblockchain
DB_USER=raguser
DB_PASSWORD=your-password-here
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=bowl.evo-techlab.com
